.item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px 0px 4px 0px;
    align-content: center;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4.2px 0px 4.2px 0px;
    gap: 0.5rem;
    align-content: center;
}

.itemEnd {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 0px;
    align-content: center;
}

.text {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 4px;
}

.img {
    border-radius: 4px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.chip {
    padding: 0.25em;
    font-size: 0.875rem;
    line-height: 1rem;
    border: 1px solid var(--gray_3, #9e9e9e);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: 5px;
    margin: 0px !important;
    width: max-content !important;
}

.icon {
    height: 12px;
    width: 12px;
}

@media screen and (max-width : 600px) {

    .item,
    .left,
    .itemEnd,
    .info {
        flex-direction: column;
        border-bottom: 0px solid #9e9e9e;
        justify-content: center;
        align-items: center;
    }
}