.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    height: min-content;
}

.tag {
    border: 1px solid rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
    opacity: 1;
    border-radius: 16px;

    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 4px 8px;
    position: relative;
    width: min-content;
}

/* .tagText {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    line-height: 1.2em;
} */