.mainContainer {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 26px;
  height: min-content;
  justify-content: flex-start;
  overflow: hidden;
  padding: 24px 24px 104px;
}

.header {
  width: 94vw;
  max-width: 700px;
  z-index: 2;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: min-content;
  justify-content: space-between;
  /* margin-top: 26px; */
}

.gradient{
  height: 12%;
  display: block;
  left: calc(50.00000000000002% - 700px / 2);
} 


.gradientTop {
  width: 100vw;
  position: absolute; 
  z-index: 1;
  overflow: hidden;
}

.gradientbottom {
  /* background: url("/gradient.png") no-repeat; */
  width: 100vw;
  z-index: 1;
  display: flex;
  position: absolute;
  z-index: 1;
  transform: rotate(-180deg);
}

.left {
  max-width: 282px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: max-content;
}

.textDiv {}

.name {
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2em;
  color: #000000;
}

.name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sub {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 20px;
  text-align: start;
  color: #828282;
  text-decoration: none;
  text-transform: none;
  width: max-content;
}

.headerImage {
  border-radius: 50%;
}

.headerSocial {
  padding: 8px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.01);
  align-items: center;
  align-content: center;
  display: flex;
}

.headerBtn {
  padding: 8px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.01);
  align-items: center;
  align-content: center;
  display: flex;
  gap: 6px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  color: #828282;
  text-decoration: none;
}

.headerSocial:hover,
.headerBtn:hover {
  background-color: rgba(255, 255, 255, 0.705);
}

.right {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: min-content;
  justify-content: flex-start;
  overflow: visible;
  padding: 0;
  position: relative;
  width: min-content;
}

@media screen and (max-width : 800px) {
  .header {
    flex-direction: column;
  }

  .left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.6rem;
  }

  .gradientTop {
    left: 50px;
  }

  .sub {
    text-align: center;
  }


}