.experience {
    flex-shrink: 0;
    width: 100%;
    max-width: 700px;
    /* height: min-content; */
    /* height: 287px; */
    /* 287px */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    background-color: #ffffff;
    overflow: visible;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 16px;
    border: 1px solid var(--gray_3, #9e9e9e);
    animation: slide-up 0.5s ease-out forwards;
    z-index: 2;
}

@keyframes slide-up {
    from {
        transform: translateY(400%);
    }

    to {
        transform: translateY(0);
    }
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 16px 0px;
    align-content: center;
    /* border-bottom: 1px solid #9e9e9e; */
}

/* .itemEnd {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px 16px 0px;
    align-content: center;
} */

.left {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: flex-start;
    width: min-content;
}

.text {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 4px;
}

.p {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 17.1px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    text-align: start;
    color: #333333;
}

.role {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    color: #333333;
}

.img {
    border-radius: 4px;
}


@media screen and (max-width : 600px) {

    .left,
    .text {
        width: auto;
    }

    .text {
        flex-direction: column;
    }

    .img {
        display: none;
    }
}